---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "我的Astro学习博客";
---

<BaseLayout pageTitle={pageTitle}>
    <p>在这里，我将分享我的学习 Astro 之旅。</p>
    <ul>
      <!-- <li><a href="/posts/post1/">文章 1</a></li>
      <li><a href="/posts/post2/">文章 2</a></li>
      <li><a href="/posts/post3/">文章 3</a></li> -->

    <!-- {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->
    {allPosts.map((post) => <BlogPost title={post.frontmatter.title} url={post.url} />)}
    </ul>
</BaseLayout>
